name: Conditional Workflow

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  job-1:
    runs-on: ubuntu-latest
    outputs:
      temp2: ${{ steps.set-output-variable.outputs.temp2 }}

    steps:
      - name: Set Output Variable
        id: set-output-variable
        run: |
          echo "::set-output name=temp2::conditional-value"

      - name: Debug Output Variable
        run: |
          echo "Value from step: ${{ steps.set-output-variable.outputs.temp2 }}"
          echo "Value from Output: ${{ needs.job-1.outputs.temp2 }}"

  job-2:
    needs: job-1
    runs-on: ubuntu-latest
    if: ${{ needs.job-1.outputs.temp2 == 'conditional-value' }}

    steps:
      - name: Debug Output Variable Again
        run: |
          echo "Value from step: ${{ steps.set-output-variable.outputs.temp2 }}"
          echo "Value from Output: ${{ needs.job-1.outputs.temp2 }}"

      - name: Debug Output Variable Again
        run: |
          echo "Value from step: ${{ steps.set-output-variable.outputs.temp2 }}"
          echo "Value from Output: ${{ needs.job-1.outputs.temp2 }}"
          echo "Condition met: ${{ needs.job-1.outputs.temp2 == 'conditional-value' }}"
      
      - name: Conditional Step
        run: echo "Running Job 2 because the condition is met"

  job-3:
    needs: job-2
    runs-on: ubuntu-latest
    if: success() || cancelled()

    steps:
      - name: Job 3
        run: echo "Running Job 3"

  print-status:
    needs: 
      - job-1
      - job-2
      - job-3
    runs-on: ubuntu-latest

    steps:
      - name: Print Job Status
        run: |
          echo "Job 1 Status: ${{ github.event.workflow_run.jobs.job-1.conclusion }}"
          echo "Job 2 Status: ${{ github.event.workflow_run.jobs.job-2.conclusion }}"
          echo "Job 3 Status: ${{ github.event.workflow_run.jobs.job-3.conclusion }}"  
