name: Conditional Workflow

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  job-1:
    runs-on: ubuntu-latest
    outputs:
      output-variable: ${{ steps.set-output-variable.outputs.output-val }}

    steps:
      - name: Set Output Variable
        id: set-output-variable
        run: |
          echo "::set-output name=output-val::conditinal-value"

      - name: Debug Output Variable
        run: |
          echo "Value from step:${{ steps.set-output-variable.outputs.output-val }}"
          echo "Value from Output:${{ needs.job-1.outputs.output-vars }}"

  job-2:
    needs: job-1
    runs-on: ubuntu-latest
    if: ${{ needs.job-1.outputs.output-vars == 'conditional-value' }}

    steps:
      - name: Conditional Step
        run: echo "Running Job 2 because the condition is met"

  job-3:
    needs: job-2
    runs-on: ubuntu-latest
    if: success() || cancelled()

    steps:
      - name: Job 3
        run: echo "Running Job 3"
